* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
@-ms-viewport {
  width: device-width;
}
body {
  overflow: hidden;
}

.display {
  overflow: hidden;
  background: linear-gradient(90deg, #1e2230, #323746, #2b292a);
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}
.display.displayMoveUp {
  margin-top: -100vh;
  transition: all 0.3s ease-out;
}
.display h1,
h2 {
  position: relative;
  font-size: 5rem;
  background-image: linear-gradient(90deg, #be85f5, #ff76a8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 5;
}
.display.start h1 {
  margin-top: -12%;
  margin-bottom: 70px;
}
.display.game h1 {
  display: none;
}
.display.end h1 {
  margin-bottom: 5%;
}

.startBtn {
  position: relative;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  z-index: 5;
  margin-bottom: -100px;
  cursor: pointer;
}
.startBtn:active {
  transform: scale(0.8);
  transition: all 0.2s ease-out;
}
.startBtn:active span {
  border: 4px double #ffffff;
}
.startBtn:active a {
  color: #7b7070;
}
.startBtn::before {
  position: absolute;
  content: "";
  inset: 0;
  border-radius: 50%;
  animation: rotatingStartBtn 4s linear infinite;
  background: repeating-conic-gradient(
    from var(--a),
    #0f0,
    #ff0,
    #0ff,
    #f0f,
    #0ff
  );
}
.startBtn::after {
  position: absolute;
  content: "";
  inset: 0;
  border-radius: 50%;
  animation: rotatingStartBtn 4s linear infinite;
  background: repeating-conic-gradient(
    from var(--a),
    #0f0,
    #ff0,
    #0ff,
    #f0f,
    #0ff
  );
  filter: blur(40px);
  opacity: 0.75;
  z-index: 4;
}
@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@keyframes rotatingStartBtn {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}

.startBtn span {
  position: absolute;
  inset: 5px;
  background: linear-gradient(90deg, #1bb7a1, #70c98f, #b1d780);
  border-radius: 50%;
  z-index: 6;
  display: flex;
  justify-content: center;
}

.startBtn span a {
  position: relative;
  text-decoration: none;
  outline: none;
  font-size: 4rem;
  align-self: center;
  font-weight: 600;
  color: #323746;
}
.startBtn span a:active {
  color: #323746;
  background: none;
  text-decoration: none;
}

/*******************  Choose Board ***********/

.choose .boxCount {
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxCount .choiceBoxes {
  font-size: 4rem;
  border: 2px double #b9a2cf;
  width: 20vw;
  padding: 1vh;
  margin: 2vw 3vw;
  text-align: center;
  color: #d3cfcf;
  margin-bottom: 4vh;
}
.boxCount .choiceBoxes.hovered {
  background-color: white;
  color: #be85f5;
  border: 2px double #2b2430;
}
.choose h2 {
  font-size: 2rem;
}
.choose h1 {
  margin-bottom: 4vh;
}
/******************** Game Board ***********/

.board {
  position: relative;
  width: 85vh;
  height: 85vh;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2%;
  border: 2px double #7e7b7b;
}
.board .imgBx {
  position: relative;
  background: transparent;
  cursor: pointer;
}
.board .imgBx .img {
  position: absolute;
  inset: 4px;
  background-size: cover;
  z-index: 10;
  transform: translateZ(1px) rotateY(180deg);
  transform-style: preserve-3d;
  transition: transform 0.2s linear;
  transform-origin: center;
}
.board .imgBx .img::before {
  content: "";
  position: absolute;
  inset: 0px;
  z-index: 5;
  transform-style: preserve-3d;
  transform: translateZ(-1px);
}

.end h2 {
  font-size: 3rem;
}

/********************** Animatiom  *********************/
.openCard {
  animation: openCard 0.9s ease forwards;
}
@keyframes openCard {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.closeCard {
  animation: closeCard 1s ease forwards;
}
@keyframes closeCard {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.checkedCard {
  animation: checkedCard 1.5s linear forwards;
}
@keyframes checkedCard {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  75% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.notPair {
  animation: notPair 2s linear;
}
@keyframes notPair {
  0% {
    border: 3px solid rgb(146, 10, 10);
    transform: rotateY(0deg);
  }
  25% {
    border: 3px solid transparent;
  }
  50% {
    border: 3px solid rgb(146, 10, 10);
  }
  75% {
    border: 3px solid transparent;
    transform: rotateY(0deg);
  }
}

/******************** Adaptive ***********/
@media screen and (orientation: portrait) {
  .display.start h1 {
    margin-top: -15%;
  }
  .display.game h1 {
    margin-bottom: 5%;
    display: inline;
  }
  .startBtn {
    margin-top: 50px;
  }
  .board {
    width: 85vw;
    height: 85vw;
    margin-bottom: 8%;
  }
}

@media screen and (max-width: 600px) {
  .display h1 {
    font-size: 3.2rem;
  }

  .startBtn span a {
    font-size: 3rem;
  }
  .boxCount .choiceBoxes {
    font-size: 2.5rem;
  }
  .end h1 {
    font-size: 3rem;
  }
  .end h2 {
    font-size: 2.5rem;
  }
}
@media screen and (orientation: landscape) and (max-height: 600px) {
  .display h1 {
    font-size: 3.2rem;
  }

  .startBtn span a {
    font-size: 2.6rem;
  }
  .boxCount .choiceBoxes {
    font-size: 2.5rem;
  }
  .end h1 {
    font-size: 3rem;
  }
  .end h2 {
    font-size: 2.5rem;
  }
  .startBtn {
    width: 25vw;
    height: 25vw;
  }
  .display.start h1 {
    margin-top: -10%;
    margin-bottom: 30px;
  }
}

/********************   Colors of cards  *****************/
.imgColor0::before {
  background: linear-gradient(90deg, #ff00dd, #00ffd5);
}
.imgColor1::before {
  background: linear-gradient(90deg, #9018fa, #f4c82f);
}
.imgColor2::before {
  background: linear-gradient(90deg, #c9f77a, #e3af35, #e26037);
}
.imgColor3::before {
  background: linear-gradient(90deg, #fe9704, #ef3554, #9b0782);
}
.imgColor4::before {
  background: linear-gradient(90deg, #fb8ce3, #ff8497, #f5985c);
}
